#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

h2{
  color: #51B4FF;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  justify-content: space-between;
}

.creator-card{
  flex: 0 0 46%; 
  margin: 1rem;
  background-size: cover;
  border: 1px solid white;
  background-position: center;
  position: relative;
  text-shadow: 1px 1px 2px #000;
  min-height: 24rem;
}

.creator-card-overlay{
  position: absolute;
  inset: 0; 
  background: rgba(0,0,0,0.7);
  padding: 2rem;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
}

.creator-card-overlay > *{
  position: relative;
}

.nav-home{
  display: flex;
  justify-content: center; 
  column-gap: 2em;
}

button {
  border-radius: 3px;
  padding: 0.5em 2.6em;
  font-size: 1.2em;
  --pico-font-weight: 700;
}

.title{
  font-size: 6em;
  --pico-font-family-sans-serif: Ubuntu;
}

button:hover{
    border: 1px solid white;
}

.link-button{
  color: white;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.banner{
  height: 100dvh;
  padding-top: 30dvh;
  display: flex;
  row-gap: 4em;
  flex-direction: column;
  background-image: url('https://assets.superhivemarket.com/store/productimage/972607/image/xlarge_og-5714b58375f8a7730b54ab4597818d2a.jpg');
  background-size: cover; 
}

.card-description{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Change this number to your desired line limit */
  overflow: hidden;
}

.creator-nav ul h2{
  margin: 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.creator-nav-2{
  margin-top: -1rem;
}

.make-white {
    filter: invert(1);
}

/* View Creator */
.card-view-creator{
  display: flex;
  padding: 4rem 6rem;
  gap: 3rem;
}

.creator-img{
  flex: 0 0 33%; 
  background-size: cover;
  border: 0.2em solid #51B4FF;
  background-position: center;
  position: relative;
  text-shadow: 1px 1px 2px #000;
  min-height: 30rem;
}

.view-creator-description{
  text-align: left;
}

.view-creator-description h2{
  font-size: 3.6rem;
  text-transform: uppercase;
}

.view-creator-description p{
  font-size: 1.2rem;
}

.view-creator-description .social-icon{
  margin: 0;
}

.view-creator-buttons{
  display: flex;
  gap: 6rem;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.secondary-delete{
  background-color: rgb(184, 88, 88);
}

.dialog-creator{
  padding: 6rem;
}

.dialog-creator .view-creator-buttons{
  flex-direction: column;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.form-page{
  padding: 6rem 18rem;
}